[class*="col-"] {
  padding: 10px;
}
body {
	font-family: "Trebuchet MS", Trebuchet, Verdana, Serif;
	background-color: WhiteSmoke;
}	
h1 { 
	font-size: 90px;	
}
.navbar { 
	font-size: 30px;
}
.mtop25-p10 {
	margin-top: 25px;
	padding: 10px;
}
fieldset {	
	max-width: 725px;
	padding: 10px;
	background-color: LightSkyBlue;
}
#fname, #femail, #fsubject {
	width: 300px;
	padding: 10px;
}
#ffeedback{
	padding: 10px;
}
button[type=submit] {
	width: 100px;
	height: 40px;
	padding: 10px;
	margin: 10px;
	background-color: Chocolate;
	color: white;
}
button[type=submit]:hover {
  background-color: Black;
}
@media (max-width: 1399px) {
    h1 {font-size: 50px;
	}	
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 991px) {
  [class*="col-"] {
    width: 100%;
  }
}
